*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* For Navigation bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283739;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: #a2c11c;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #118a7e ;
    color:#fff;
    box-shadow: 0 0 10px #fff;
}




.container {
    /* Background color */
    background-color: rgba(0, 0, 0, 0.3);


    /* Curved corners */
    border-bottom-left-radius: 60% 50%;
    border-bottom-right-radius: 60% 50%;
}



.avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 250px;
    width: 250px;

    margin-left: auto;
    margin-right: auto;
    
}

.avatar__image {
    /* Rounded border */
    border-radius: 200%;


    


    /* Take full size */
    height: 100%;
    width: 100%;
}