body{
    background-color: #C4DFE6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* For Navigation bar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #283739;
    position: initial;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: #a2c11c;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #118a7e ;
    color:#fff;
    box-shadow: 0 0 10px #fff;
    font-size: 1.9rem;
}


/* Css for Home Section */

/* here '#home' is a id which is available inside the home section */
#home{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-top: 8%;
    padding-bottom: 10px;
    font-size: 20px;
}

.container {
    /* Background color */
    background-color: #283739;


    /* Curved corners */
    border-bottom-left-radius: 50% 70%;
    border-bottom-right-radius: 0% 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* Image of mine */
.avatar {
    /* Rounded border */
    border-radius: 50%;
    height: 250px;
    width: 250px;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 10px;
    display: flex;
    flex-basis: 80%;
    
}

.avatar__image {
    /* Rounded border */
    border-radius: 200%;
    /* Take full size */
    height: 100%;
    width: 100%;
   
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    color: #fff;
    padding-left: 70%;
}


.btn{
    background-color: #283739;
    color: #a2c11c;
    text-align: center;
    size: 10px;
    outline: none;
    border: 2px  #118a7e;
    font-size: 1.5rem;
    transition: all .5s ease;
    font-family: 'Times New Roman', Times, serif;
}

.btn:hover{
    cursor: pointer;    
    background-color: #118a7e;
    color: #fff;
    box-shadow: 0 0 20px  white;
    font-size: 1.9rem;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

/* Little Intro section in home page */
#about{
    display: flex;
    flex-direction: column;

}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    font-size: 20px;
    font-family: serif;
    padding-right: 30px;
    padding-left: 30px;
}

#intro p{
    font-size: 2erm;
    margin-bottom: 20px;

}

.headings{
    padding-left: 10px;
    font-size: 2.5rem;

}

footer
{
    font-size: 20px;
    font-family: 'Times New Roman';
    padding-left: 20px;
    margin-bottom: 1%;
    margin-top: 10%;
}

.personalinfo {
   
    margin-top:5%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightgrey;
    text-align: justify;
    padding: 10px;
    box-sizing: 10px;
    height: auto;
    width: 70%;
    box-shadow: 8px 8px #888888 ;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 30px;
   
  }

    
p.containt{
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    text-align: justify;
   
}




/*For Tablet Responsive*/
@media only screen and (max-width: 800px){

    .navbar ul li{
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.3rem;
        font-weight: bold;
    }
    
    
    .avatar__image{
        margin-left: -80px;
        margin-top: 20px;
        width: 100%;
        height: 100%;
    }

    .name{
        margin-top: -40px;
        margin-left: -60px;
    }

    .btn
    {
        margin-top: -30px;
        margin-left: -100px;
    }

    .headings{
        margin-top: 3%;
        font-size: 1.6rem;

    }

    .personalinfo{
        margin-top: 10%;
        width: 80%;
    }
    
}




/* For Mobile Responsive. */
@media only screen and (max-width: 500px) {


.container {
    /* Curved corners */
    border-bottom-left-radius: 110% 90%;
    border-bottom-right-radius: 110% 90%;
   
}



    .navbar ul li{
        font-size: 1rem;
        font-weight: bold;
    }
    
    
    .avatar__image{
        margin-left: -80px;
        margin-top: 20px;
        width: 80%;
        height: 80%;
        margin-top: 40px;
    }

    .name{
        margin-top: -40px;
        margin-left: -90px;
        font-size: 1.3rem;
    }

    .btn
    {
        margin-top: -20px;
        margin-left: -110px;
        font-size: 1.3rem;
    }

    .headings{
        margin-top: 3%;
        font-size: 1.3rem;

    }

    .personalinfo{
        margin-top: 18%;
        width: 90%;
        font-size: .8rem;
    }

    #intro{
        font-size: 1rem;
    }
   
}